<%= form_for @comment, url: comments_url(@comment)  do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Comment post..." %>
  </div> 
  <%= f.hidden_field :micropost_id, value: @micropost.id %>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>
